<div class="row">
    <div class="col s12 m4 offset-m4">
        <div class="card blue-grey">
            <div class="card-content white-text">
                <div class="row">
                    <div class="card blue">
                        <form [formGroup]="forms" (ngSubmit)="addPost(forms.value)" class="col s12">
                            <h4>Login as Admin</h4>
                            <hr>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input formControlName="username" id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix">First Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">security</i>
                                    <input formControlName="password" id="icon_telephone" type="password" class="validate">
                                    <label for="icon_telephone">Password</label>
                                </div>
                            </div>
                            <button type = "submit" [disabled]="!forms.valid" class="waves-effect waves-light btn green">
                                <i class="material-icons left">check</i>Login</button>
                            <a class = "waves-effect waves-light btn green" routerLink = "/login">User Login</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

